.card {
    margin: 0 auto; /* Centrar la tarjeta en la página */
    max-width: 600px; /* Limitar el ancho máximo de la tarjeta */
    margin-top: 50px; /* Espacio superior */
    padding: 20px; /* Espaciado interno */
}

.resultados-section {
    margin-top: 50px;
}

#lista-peticiones {
    list-style-type: none;
    padding: 0;
}

#lista-peticiones li {
    margin-bottom: 10px;
}

#lista-peticiones li.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#lista-peticiones li.btn:hover {
    background-color: #e0e0e0;
}

#lista-peticiones li.btn:before {
    content: "▶";
    margin-right: 10px;
}