/* Fondo y fuente */
body {
    background-color: #f0f0f0;
    font-family: sans-serif;
  }
  
  /* Tarjeta */
  .card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    margin: 2rem auto;
    max-width: 600px;
  }
  
  .card h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
  }
  
  /* Etiquetas */
  .form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  /* Controles de formulario */
  .form-control {
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #5c7cfa;
  }
  
  .form-control:required {
    border-color: #d63031;
  }
  
  /* Botón de guardar */
  .btn-primary {
    background-color: #5c7cfa;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #264d91;
  }
  
  /* Tabla */
    
  
  
  .resultados-section {
    margin-top: 20px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:nth-of-type(even) td {
    background-color: #fafafa;
  }
  
  

  /* Fondo de la carta */
.card {
    background-color: rgb(29, 7, 7);
  }
  
  /* Color de la letra en la carta */
  .card h1 {
    color: #555;
  }
  body {
    background: linear-gradient(to bottom, #a1d6ca, #fcb0b3);
  }
  .card {
    
    background: linear-gradient(to bottom, rgba(247, 232, 231, 0.9), rgba(252, 176, 179, 0.9));
  }
  .card input {
    border-radius: 20px;
  }
      
  /* Fondo de la tabla */
  .table {
    background-color: #fff;
  }
  
  /* Color de la letra en la tabla */
  .table th,
  .table td {
    color: #333;
  }
  
  /* Color de fondo de las filas impares en la tabla */
  .table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  .card {
    background: linear-gradient(to bottom, rgba(161, 214, 202, 0.9), rgba(252, 176, 179, 0.9));
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  .card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilos de la lista */
  #lista-peticiones {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #lista-peticiones li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
  }
  